[Unit]
Description=cloud-init updater
After=cloud-init-local.service
Before=cloud-init.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init-update
RemainAfterExit=yes

[Install]
WantedBy=cloud-init.target
