[Unit]
Description=cloud-init updater
After=cloud-init-local.service
Before=cloud-init.service

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init-update

[Install]
WantedBy=cloud-init.target
